    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
        <div class="col-md-8">
<h3 class="text-center">イベント一覧</h3>
          <% @events.each do |event| %>
          <div class="card" style="width: 340px;">
            <p class="card-header">
              <%= event.title %>
            </p>
            <div class="card-body" style="height: 200px;">
              <p class="card-text">
                <%= event.body %>s
              </p>
            </div>
            <div class="card-footer" style="height: 80px;">
            <p><%= event.period %>まで
            <%= link_to "イベントを編集", edit_admin_event_path(event), class: "btn btn-secondary" %></p>
            <%# link_to "このイベントの投稿を見る", admin_event_posts_path(event), class: "btn btn-secondary" %></p>
            </div>
          </div>
          <% end %>
          </div>
  	      <div class="col-md-4">
            <h3 class="text-center">イベントを作る</h3>
            <%= link_to "イベントを新規作成", new_admin_event_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
