<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>イベント一覧</h3>
      <% @events.each do |event| %>
　      <div class="event-card" style="height: 400px;">
        <div class="tape"></div>
        <div class="card-body">
          <h5 class="event-card-title text-center"><%= event.title %></h5>
          <p class="event-card-text" style="height: 200px;"><%= event.body %></p>
          <h6 class="event-card-period text-center"><%= event.period %>まで</h6>
            <%= link_to "イベントを編集", edit_admin_event_path(event), class: "btn btn-light" %></p>
            <%= link_to "このイベントの投稿を見る", admin_event_event_posts_path(event), class: "btn btn-warning" %></p>
        </div>
         </div>
      <% end %>
      <%= paginate @events %>
    </div>
    <div class="col-md-4">
      <h3 class="ivent-title">イベントを作成</h3>
　      <div class="event-card" style="height: 400px;">
          <div class="tape"></div>
          <div class="card-body">
          <h5 class="event-card-title text-center">タイトル</h5>
          <p class="event-card-text text-center" style="height: 200px;">内容をここに書きましょう！</p>
            <h6 class="event-card-period text-center">〇〇年〇〇月〇〇日まで</h6>
            <%= link_to "イベントを新規作成", new_admin_event_path, class: "btn btn-danger" %>
          </div>
        </div>
    </div>
  </div>
</div>







