<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="form-group">
      <h2 class="text-center">イベント情報作成</h2>
      <div class="form-body p-4">
        <%= form_with model:@event, url:admin_events_path do |f| %>
              <h4>タイトル</h4>
              <%= f.text_field :title %>
              <h4>本文</h4>
              <%= f.text_area :body %>
              <h4>期間</h4>
              <%= f.date_select :period, {include_blank: true, start_year: 2022, use_month_numbers: true}, {class: 'time-box'} %>まで
          <div class="post-buttom text-center">
          <%= f.submit "イベントを作成する", class:"btn btn-info" %>
          </div>
        <% end %>
　　　</div>
      </div>
    </div>
  </div>
</div>
