    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
        <div class="col-md-9">
<h3 class="text-center">お客様投稿一覧:返答済み</h3>
          <% @response.each do |response| %>
          <div class="card" style="width: 340px;">
            <p class="card-header">
              <%= response.post.customer.nickname %>
              <%= response.post.customer.age %>代
              <%= response.post.customer.gender %>
              <%= response.post.customer.work %>
              <%= response.post.customer.access %>
            </p>
            <%= response.post.category %>『<%= response.post.title %>』
            <div class="card-body" style="height: 200px;">
              <p class="card-text">
                お客様の投稿：<br><%= response.post.body %>
              </p>
            </div>
            <div class="card-footer" style="height: 250px;">
              <p class="card-text">
                店長からの返答：<br><%= response.response %>
              </p>
              <p><%= link_to "編集する", edit_admin_post_response_path(response.post,response), class: "btn btn-secondary" %></p>
            </div>
          </div>
          <% end %>
          <%= paginate @response %>
          </div>
  	      <div class="col-md-3">
            <h3 class="text-center">イベント情報</h3>
          <% @events.each do |event| %>
          <div class="ebent_card" style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text" style="height: 200px;"><%= event.body %></p>
            <p class="card-period"><%= event.period %></p>
          </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

