    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
        <div class="col-md-8">
<h3 class="text-center">お客様投稿一覧:返答済み</h3>
          <% @response.each do |response| %>
          <div class="card" style="width: 340px;">
            <p class="card-header">
              <%= response.post.category %><%= response.post.title %>
            </p>
            <div class="card-body" style="height: 200px;">
              <p class="card-text">
                <%= response.post.body %>
              </p>
            </div>
            <div class="card-footer" style="height: 200px;">
              <p class="card-text">
                <%= response.response %>
              </p>

              <p><%#= link_to "編集する", edit_admin_event_post_path, class: "btn btn-secondary" %></p>
            </div>
          </div>
          <% end %>
          <%= paginate @response %>
          </div>
  	      <div class="col-md-4">
            <h3 class="text-center">イベント情報</h3>
            <h5>66</h5>
            <h5>55</td>
            <%#= link_to "編集する", edit_admin_event_post_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
