<div class="py-5 text-center container">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
  <% end %>
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      いらっしゃいませ
      </div>
    </div>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col-md-8">
      <h3 class="text-center">お客様の声一覧</h3>
        <% @response.each do |response| %>
          <div class="card" style="width: 340px;">
            <div class="card-header">
              <button type="button" class="btn btn-outline-primary">
              <%= response.post.category %>
              </button>
              『<%= response.post.title %>』
            </div>
            <div class="card-body" style="height: 200px;">
              <div class="card-text">
                お客様の投稿：<br><%= response.post.body %>
              </div>
            </div>
            <div class="card-footer" style="height: 200px;">
            <div class="card-text">
              店長からの返答：<br><%= response.response %>
            </div>
            </div>
          </div>
        <% end %>
      </div>
  　</div>
      <%= paginate @response %>
      <div class="col-md-4">
        <h3 class="text-center">イベント情報</h3>
        <% @events.each do |event| %>
        <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></5>
          <p class="card-text"><%= event.body %></p>
          <p class="card-period"><%= event.period %>まで</p>
          <%= link_to "イベントに投稿する", new_event_event_post_path(event), class: "btn btn-secondary" %>
        </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>