<div class="container">
  <div class="text-center">
    <div class="pricing-header mx-auto text-center">
      <div class="display-3 fw-normal">
        <div class="row">
        <%= image_tag('top.head.png') %>
        <%= image_tag('top.left.jpg') %>
        </div>
      </div>
    </div>
    <% if flash[:notice] %>
      <p class="text-active"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="text-active"><%= flash[:alert] %></p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h3>お客様の声一覧</h3>
        <%= render 'index', responses: @responses %>
    </div>
    <div class="col-md-5">
      <h3 class="ivent-title">イベント情報</h3>
        <%= render 'event', events: @events %>
    </div>
  </div>
</div>