<div class="container">
  <div class="text-center">
    <% if flash[:notice] %>
      <p class="text-active"><%= flash[:notice] %></p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-1">
        <h3>お客様の声一覧</h3>
          <% @response.each do |response| %>
            <div class="card" style="width: 320px;">
              <div class="card-body">
              　<div class="card-body-red">
                　<button type="button" class="btn btn-lg btn-success">
                <%= response.post.category %>
                </button>
                『<%= response.post.title %>』
                </div>
              </div>
              <div class="card-body" style="height: 200px;">
                <div class="card-text">
                  お客様の投稿：<br><%= response.post.body %>
                </div>
              </div>
              <div class="card-body" style="height: 250px;">
              <div class="card-text">
                店長からの返答：<br><%= response.response %>
              </div>
              </div>
            </div>
          <% end %>
    </div>
        <div class="col-md-3">
          <h3 class="ivent-title">イベント情報</h3>
          <% @events.each do |event| %>
          <div class="event-card" style="height: 400px;">
            <div class="tape"></div>
            <div class="card-body">
              <h5 class="event-card-title text-center"><%= event.title %></h5>
              <p class="event-card-text" style="height: 200px;"><%= event.body %></p>
              <p class="card-period text-center"><%= event.period %>まで</p>
              <%= link_to "投稿", new_event_event_post_path(event), class: "btn-square-shadow" %>
            </div>
          </div>
          <% end %>
        </div>
    </div>
</div>