<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="form-group">
      <h2 class="text-center">投稿する</h2>
      <div class="form-body p-4">
        <%= form_with model:@post, local: true do |f| %>
              <h4>カテゴリー</h4>
              <%= f.select :category, {'商品': 1, 'サービス': 2, '設備': 3, 'その他': 4}, { include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
              <h4>タイトル</h4>
              <%= f.text_field :title %>
              <h4>本文</h4>
              <%= f.text_area :body  %>
          <div class="post-buttom text-center">
          <%= f.submit "声を投稿する", class:"btn btn-info" %>
          </div>
        <% end %>
　　　</div>
      </div>
    </div>
  </div>
</div>
