<!DOCTYPE html>
<html>
  <head>
     puts sample0.encode(Encoding::UTF_8)
     <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="fixed-top">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"></svg>
      </div>
      <p class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">フレッシュ</p>
      <div class="col-md-3 text-end">
        <% if customer_signed_in? %>
          <p><%= current_customer.nickname %>さん</p>
        <% elsif admin_signed_in?%>
          <div class="nav-list"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-secondary " %></div>
        <% else %>
        <% end %>
      </div>
    </header>
      </div>
    <main class>
    <%= yield %>
    </main>
    <div class="fixed-bottom">
    　<footer class="d-flex justify-content-center py-3">
        <div class="container">
          <ul class="nav nav-pills d-flex justify-content-center ">
          <% if admin_signed_in? %>
              <li class="nav-list"><%= link_to "未返答一覧", admin_posts_path, class: "btn btn-secondary " %></li>
              <li class="nav-list"><%= link_to "会員一覧", admin_customers_path, class: "btn btn-secondary " %></li>
              <li class="nav-list"><%= link_to "イベント", admin_events_path, class: "btn btn-secondary " %></li>
              <li class="nav-list"><%= link_to "投稿一覧", admin_responses_path, class: "btn btn-secondary " %></li>
          <% elsif customer_signed_in? %>
              <li class="nav-list"><%= link_to "投稿する", new_post_path, class: "btn btn-secondary"  %></li>
              <li class="nav-list"><%= link_to "投稿を見る", posts_path, class: "btn btn-secondary"  %></li>
              <li class="nav-list"><%= link_to "マイページ", edit_customer_path(current_customer), class: "btn btn-secondary" %></li>
              <li class="nav-list"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-secondary" %></li>
          <% else %>
              <li class="nav-list"><%= link_to "About", about_path, class: "btn btn-secondary" %></li>
              <li class="nav-list"><%= link_to "投稿する", new_customer_session_path, class: "btn btn-secondary" %></li>
              <li class="nav-list"><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-secondary" %></li>
              <li class="nav-list"><%= link_to "ログイン", new_customer_session_path, class: "btn btn-secondary" %></li>
          </ul>
          <% end %>
      </div>
  　</footer>
  </div>
 </body>
</html>
