<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <ul>
    <%# if customer_signed_in? %>
      <p><%#= current_customer.nickname %></p>
    <%# end %>
    <%# if user_signed_in? %>
      <li><%#= link_to "投稿一覧", destroy_user_session_path %></li>
      <li><%#= link_to "マイページ", destroy_user_session_path %></li>
      <li><%#= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <%# elsif admin_signed_in? %>
      <li><%#= link_to "投稿一覧", destroy_user_session_path %></li>
      <li><%#= link_to "会員一覧", destroy_user_session_path %></li>
      <li><%#= link_to "イベント", destroy_user_session_path %></li>
      <li><%#= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <%# else %>
      <li><%#= link_to "About", destroy_user_session_path %></li>
      <li><%#= link_to "投稿一覧", destroy_user_session_path %></li>
      <li><%#= link_to "新規登録", destroy_user_session_path %></li>
      <li><%#= link_to "ログイン", destroy_user_session_path %></li>
    <%#end %>
    </ul>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
